body{
    background: linear-gradient(to right, #67afe0 , #253c55);
  }
  
  .navbar-default {
      background: linear-gradient(to right, #67afe0 , #253c55);
      border-color: #E7E7E7;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* Title */
  .navbar-default .navbar-brand {
      color: white;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
      color: black;
  }
  /* Link */
  .navbar-default .navbar-nav > li > a {
      color: white;
      margin: 0px 10px 0px 10px;
  }
  
  .btn-primary{
    margin: 0px 20px 0px 20px;
  }
  
  .btn-warning{
    margin: 0px 10px 0px 10px;
  }
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
      color: #333;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      color: #555;
      background-color: #E7E7E7;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
      color: #555;
      background-color: #D5D5D5;
  }
  /* Caret */
  .navbar-default .navbar-nav > .dropdown > a .caret {
      border-top-color: #777;
      border-bottom-color: #777;
  }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret,
  .navbar-default .navbar-nav > .dropdown > a:focus .caret {
      border-top-color: #333;
      border-bottom-color: #333;
  }
  .navbar-default .navbar-nav > .open > a .caret,
  .navbar-default .navbar-nav > .open > a:hover .caret,
  .navbar-default .navbar-nav > .open > a:focus .caret {
      border-top-color: #555;
      border-bottom-color: #555;
  }
  /* Mobile version */
  .navbar-default .navbar-toggle {
      border-color: #DDD;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
      background-color: #DDD;
  }
  .navbar-default .navbar-toggle .icon-bar {
      background-color: #CCC;
      height: 100%;
  }
  @media (max-width: 767px) {
      .navbar-default .navbar-nav .open .dropdown-menu > li > a {
          color: #777;
      }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
      }
  }
  
  .container-fluid{
    background: linear-gradient(to right, #67afe0 , #253c55);
    height: 100%;
  }
  
  
  
  #line{
    background: #2771ba;
    padding-top: 13px;
  }
  
  .about-page{
    margin-bottom: 0%;
  }
  
  .about-text{
    color: white;
    text-align: center;
    padding-left: 40%;
    padding-right: 10%;
    padding-top: 10%;
    font-size: 14px;
  }
  
  .about-img{
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
  }
  
  .about-img img{
     width: 17vw;
     height: auto;
     display: inline-block;
     margin-top: 10%;
     margin-right: 20%;
  }
  